<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">       
        <a aria-label="Send email" href="#" class="cloak_email" id="cloak_email_330368015175957292964778873440288917125" data-before="me" data-after="scales.cloud"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/tobyscales"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/tobyscales"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <script type="text/javascript"> var cloak = function() { el = document.getElementById("cloak_email_330368015175957292964778873440288917125"); var after = el.dataset.after; var before = el.dataset.before; el.href = 'mailto:' + before + '@' + after; if(el.innerHTML == '') { el.innerHTML = before + '@' + after; } }(); </script>
      </div>
      <div class="header-links">
         <a class="link" href="#about" data-scroll>About Me</a> 
         <a class="link" href="projects.html">My Projects</a> 
      </div>
  </div>
   <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a> 
</div>
